link(rel='stylesheet', href='/stylesheets/style.css')
script(type='text/javascript')
    var data =!{JSON.stringify(trends)}

h1
#trends
    - each trend in trends
      div
        - if (trend.tag_date > '6/20/2012')
          p.today
             span= trend.tag
             span :
             span= trend.count
        - else
          p.yesterday
             span= trend.tag
             span :
             span= trend.count  