h1 Seeds
p Total Seeds: #{userCount}
p 
  a(href='/seeds/add') add new
table#leads
  tr.header
     td Username
     td Name
     td Profile pic
     td Follower count
     td Location
     td Description
  each user in users
     tr
        td 
          a(href='http://twitter.com/#!/' + user.screen_name) #{user.screen_name}
        td #{user.name} 
        td 
          img(src=user.profile_image_url, width='48px')
        td #{user.followers_count}
        td #{user.location}
        td #{user.description}
         
      