h1 Influencers
p Total Influencers: #{userCount}
p 
  a#clickAddLead(href='#') add new
div#addLead(class='classDisplayNone')
  div
      h1 Add New Influencer    
      span Twitter Username:
      input(type="text", name="username", id="leadName")
      input(type="hidden", name="demo", id="leadDemo", value="#{session.demo}")
      input#doAddLead(type="button", value="add")
table#leads
  tr.header
     td Username
     td Name
     td Profile pic
     td Follower count
     td Demo
     td Location
     td Description
  each user in users
     tr
        td 
          a(href='http://twitter.com/#!/' + user.screen_name) #{user.screen_name}
        td #{user.name} 
        td 
          img(src=user.profile_image_url, width='48px')
        td #{user.followers_count}
        td #{user.demo}
        td #{user.location}
        td #{user.description}
         
      