script(type='text/javascript')
    var data =!{JSON.stringify(trends)}
script(src='/javascripts/trends.js')    


h1 Trends
table#trends
  tr.header
     td Tag
     td Today
     td 1 day ago
     td 2 days ago
  each item in trends
    tr
     td=item._id
     td.today(id=item._id) 
       - if(item.value.tag_date == '6/25/2012' || (item.value.value && item.value.value.tag_date == '6/25/2012'))
         =item.value.count
     td.1d(class=item._id)
       - if(item.value.tag_date == '6/22/2012')
         =item.value.count
     td.2d(class=item._id)
       - if(item.value.tag_date == '6/20/2012')
         =item.value.count