script(type='text/javascript')
    var data =!{JSON.stringify(trends)}
script(src='/javascripts/trends.js')    


h1 Trends
table#trends
  tr.header
     td Tag
     td Today
     td 1 day ago
     td 2 days ago
  each item in trends
    tr
     td=item.tag
     - if(item.tag_date == '6/26/2012')
         td=item.count
       else
         td
     - if(item.tag_date == '6/25/2012')
         td=item.count
       else
         td
     - if(item.tag_date == '6/22/2012')
         td=item.count
       else
         td  
     
         
