h1 Users
table#users
  tr.header
     td Username
     td Name
     td Demo
     td Profile pic
     td Follower count
     td Description
     td Monitor
  each user in users
     tr
        td 
          a(href='http://twitter.com/#!/' + user.screen_name) #{user.screen_name}
        td #{user.name} 
        td #{user.demo}
        td 
          img(src=user.profile_image_url, width='48px')
        td #{user.followers_count}
        td #{user.description}
        td
         - if (user.monitor=='true')
             input(type="checkbox",class="monitor",id=user.screen_name,checked)
         - else
             input(type="checkbox",class="monitor",id=user.screen_name) 
         
      